<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="roulett">
        <div id="p1">
            <img src="static/images/pepe_1.gif" alt="">
        </div>
        <div id="p2">
            <img src="static/images/pepe_2.gif" alt="">
        </div>
        <div id="p3">
            <img src="static/images/pepe_3.gif" alt="">
        </div>
        <div id="p4">
            <img src="static/images/pepe_4.gif" alt="">
        </div>
        <div id="p5">
            <img src="static/images/pepe_5.gif" alt="">
        </div>
        <div id="p6">
            <img src="static/images/pepe_6.gif" alt="">
        </div>
        <div id="p7">
            <img src="static/images/pepe_1.gif" alt="">
        </div>
        <div id="p8">
            <img src="static/images/pepe_2.gif" alt="">
        </div>
        <div id="p9">
            <img src="static/images/pepe_3.gif" alt="">
        </div>
        <div id="p10">
            <img src="static/images/pepe_4.gif" alt="">
        </div>
        <div id="p11">
            <img src="static/images/pepe_5.gif" alt="">
        </div>
        <div id="p12">
            <img src="static/images/pepe_6.gif" alt="">
        </div>
    </div>

    <button class="spin">SPIN</button>

    <script src="static/script/Time.js"></script>
    <script src="static/script/Game.js"></script>
    <script src="static/script/Images.js"></script>
</body>
</html>