<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=none">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body style="overflow-x: hidden;">
    <div class="content">
        <h2 class="page-name"><img src="static/images/icons/frens.png" width="24px" style="position: relative; padding-right: 5px; top: 2px;">Friends</h2>
        <h6>Invite friend with your personal link and earn 20% of them deposits. You can copy link below.</h6>

        <div class="link">
            <input type="text" value="RankStarsBot?start=578923902" disabled>
            <button>Copy</button>
        </div>

        <h2 class="page-name" style="top: 45px;position: relative;">Your friends</h2>

        <div class="friendlist">
            <div>
                <img src="static/images/pepe_5.gif" alt="">
                <span id="user-username">@realmefer</span>
                <span id="user-income-your">+ 200 <a class="star"></a></span>
            </div>
            <div>
                <img src="static/images/pepe_3.gif" alt="">
                <span id="user-username">@yrtkorn</span>
                <span id="user-income-your">+ 155 <a class="star"></a></span>
            </div>
            <div>
                <img src="static/images/pepe_4.gif" alt="">
                <span id="user-username">@kurtol</span>
                <span id="user-income-your">+ 100 <a class="star"></a></span>
            </div>
            <div>
                <img src="static/images/pepe_2.gif" alt="">
                <span id="user-username">@denis</span>
                <span id="user-income-your">+ 1900 <a class="star"></a></span>
            </div>
        </div>


    </div>
    <nav>
        <div onclick="locate('/')">
            <img src="static/images/icons/add.png" alt="">
        </div>
        <div onclick="locate('/store')">
            <img src="static/images/icons/shop.png" alt="">
        </div>
        <div onclick="locate('/frens')">
            <img src="static/images/icons/frens.png" alt="">
        </div>
        <div onclick="locate('/top')">
            <img src="static/images/icons/top.png" alt="">
        </div>
    </nav>

    <script src="static/script/Locate.js"></script>
    <script src="static/script/Windows.js"></script>
    <script src="static/script/Time.js"></script>
    <script src="static/script/Game.js"></script>
    <script src="static/script/Images.js"></script>
</body>
</html>