<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=none">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body style="overflow-x: none;">
    <div id="notify-window">
        <h2><img src="static/images/icons/add.png" style="width: 25px; position: relative; top: 4px; padding-right: 5px;"> New Item!</h2>
        <img src="static/images/hypno_18.gif" alt="">
        <h5>You can claim this Item free. It's your award for joining per refferal link.</h5>
        <button onclick="close_window()">Claim</button>
    </div>

    <div id="deposit-window">
        <h4 class="desc">Choose the method you want to top up. You can pay in TON or in Telegram Stars.</h4>
        <div class="chooser">
            <div onclick="choose_system('stars')" id="starsmethod" class="method" style="opacity:1;">
                <a class="star" style="opacity: 1;"></a>
            </div>
            <div onclick="choose_system('ton')" id="tonmethod" class="method"  style="opacity: 0.5;">
                <img class="ton">
            </div>
            <div onclick="choose_value(100)" id="v100">
                <span>100</span>
                <a class="star"></a>
            </div>
            <div onclick="choose_value(250)" id="v250">
                <span>250</span>
                <a class="star"></a>
            </div>
            <div onclick="choose_value(500)" id="v500">
                <span>500</span>
                <a class="star"></a>
            </div>
            <div onclick="choose_value(1000)" id="v1000">
                <span>1000</span>
                <a class="star"></a>
            </div>
            <div onclick="choose_value(2500)" id="v2500">
                <span>2500</span>
                <a class="star"></a>
            </div>
            <div onclick="choose_value(5000)" id="v5000">
                <span>5000</span>
                <a class="star"></a>
            </div>
            <div onclick="choose_value(7500)" id="v7500">
                <span>7500</span>
                <a class="star"></a>
            </div>
            <div onclick="choose_value(10000)" id="v10000">
                <span>10000</span>
                <a class="star"></a>
            </div>

            <button id="final-deposit">Deposit - <a id="final-deposit-value"></a> <a class="star" style="left: 6px;"></a></button>
        </div>
    </div>
    

    <div class="content" id="content">
        <h1 id="balance">3452.9 <a class="starbig" style="top: 1px; position: relative;"></a></h1>

        <center>
        <div class="income">
            <span>1450 <a class="star" style="top: 1px; opacity: 1;"></a>/ hour</span>
        </div>
        </center>

        <div class="buttons">
            <button><img src="static/images/icons/withdraw.png">Withdraw</button>
            <button id="deposit" onclick="deposit()"><img src="static/images/icons/add.png"> Deposit</button>
        </div>

        <h2 class="inventory">Inventory</h2>
        <h2 class='inventory right'>Open</h2>
        <div class="invent-list">
            <div>
                <img src="static/images/hypno_18.gif"><br>
                <center>
                    <span>21 days</span>
                </center>
            </div>
            
            <div>
                <img src="static/images/cap_10.gif"><br>
                <center>
                    <span>8 days</span>
                </center>
            </div>
            <div>
                <img src="static/images/peach_16.gif"><br>
                <center>
                    <span>12 days</span>
                </center>      
            </div>
            
        </div>
    </div>

    <nav>
        <div onclick="locate('/')">
            <img src="static/images/icons/add.png" alt="">
        </div>
        <div onclick="locate('/store')">
            <img src="static/images/icons/shop.png" alt="">
        </div>
        <div onclick="locate('/frens')">
            <img src="static/images/icons/frens.png" alt="">
        </div>
        <div onclick="locate('/top')">
            <img src="static/images/icons/top.png" alt="">
        </div>
    </nav>


    <script src="static/script/TON.js"></script>
    <script src="static/script/Notify.js"></script>
    <script src="static/script/Locate.js"></script>
    <script src="static/script/Windows.js"></script>
    <script src="static/script/Time.js"></script>
    <script src="static/script/Game.js"></script>
    <script src="static/script/Images.js"></script>
</body>
</html>