<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="back" onclick="hide()"></div>
    <div id="position">
        <img src="static/images/pepe_0.gif" id="pic"><br>
        <span class="item-name">Pepe Plush</span>
        <span class="item-income">1 <a class="star" class="income-star"></a> / sec</span>
        <button>Rent 100 <a class="star"></a></button>
    </div>

    <div class="content">
        <h2 class="page-name"> <svg style="position: relative; padding-right: 5px; top: 4px; scale: 0.8;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-store h-6 w-6"><path d="m2 7 4.41-4.41A2 2 0 0 1 7.83 2h8.34a2 2 0 0 1 1.42.59L22 7"></path><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><path d="M15 22v-4a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v4"></path><path d="M2 7h20"></path><path d="M22 7v3a2 2 0 0 1-2 2a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 16 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 12 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 8 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 4 12a2 2 0 0 1-2-2V7"></path></svg>Skins Rent</h2>
        <h6>You can buy skin for the rent and update income per second. Click on skin and see more about it.</h6>

        <div class="skins-list">
            <div onclick="open_position(1)">
                <div class="miniprice">8 000 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">98/100</div>
                <img src="static/images/pepe_0.png" id="pepe_0"><br>
                <span class="item-name">Gucci</span>
                <span class="item-income">1 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(2)">
                <div class="miniprice">7 500 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">91/100</div>
                <img src="static/images/pepe_1.png" id="pepe_1">
                <span class="item-name">Two Face</span>
                <span class="item-income">3 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(3)">
                <div class="miniprice">7 000 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">78/100</div>
                <img src="static/images/pepe_2.png" id="pepe_2">
                <span class="item-name">Emo Boi</span>
                <span class="item-income">3 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(4)">
                <div class="miniprice">7 000 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">46/100</div>
                <img src="static/images/pepe_3.png" id="pepe_3">
                <span class="item-name">Puppy Pug </span>
                <span class="item-income">5 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(5)">
                <div class="miniprice">9 000 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">21/100</div>
                <img src="static/images/pepe_4.png" id="pepe_4">
                <span class="item-name">Louis Vuittoad </span>
                <span class="item-income">10 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(6)">
                <div class="miniprice">6 500 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">90/100</div>
                <img src="static/images/pepe_5.png" id="pepe_5">
                <span class="item-name">Bavaria</span>
                <span class="item-income">4 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(7)">
                <div class="miniprice">6 000 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">77/100</div>
                <img src="static/images/pepe_6.png" id="pepe_6">
                <span class="item-name">Hue Jester </span>
                <span class="item-income">7 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(8)">
                <div class="miniprice">6 000 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">93/100</div>
                <img src="static/images/pepe_7.png" id="pepe_7">
                <span class="item-name">Birmingham</span>
                <span class="item-income">3 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(9)">
                <div class="miniprice">2 500 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">77/100</div>
                <img src="static/images/cap_8.png" id="cap_8">
                <span class="item-name">Redrum </span>
                <span class="item-income">7 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(10)">
                <div class="miniprice">2 500 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">93/100</div>
                <img src="static/images/cap_9.png" id="cap_9">
                <span class="item-name">Asterix</span>
                <span class="item-income">3 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(11)">
                <div class="miniprice">2 500 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">77/100</div>
                <img src="static/images/cap_10.png" id="cap_10">
                <span class="item-name">Cotton Candy</span>
                <span class="item-income">7 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(12)">
                <div class="miniprice">2 500 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">93/100</div>
                <img src="static/images/cap_11.png" id="cap_11">
                <span class="item-name">Voltage</span>
                <span class="item-income">3 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(13)">
                <div class="miniprice">2 000 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">77/100</div>
                <img src="static/images/cap_12.png" id="cap_12">
                <span class="item-name">Duskwave</span>
                <span class="item-income">7 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(14)">
                <div class="miniprice">2 000 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">93/100</div>
                <img src="static/images/cap_13.png" id="cap_13">
                <span class="item-name">Negative</span>
                <span class="item-income">3 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(15)">
                <div class="miniprice">1 250 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">93/100</div>
                <img src="static/images/peach_14.png" id="peach_14">
                <span class="item-name">Caramel Red</span>
                <span class="item-income">3 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(16)">
                <div class="miniprice">1 250 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">93/100</div>
                <img src="static/images/peach_15.png" id="peach_15">
                <span class="item-name">Bubbling Blue</span>
                <span class="item-income">3 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(17)">
                <div class="miniprice">1 750 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">93/100</div>
                <img src="static/images/peach_16.png" id="peach_16">
                <span class="item-name">Peach Black</span>
                <span class="item-income">3 <a class="star" class="income-star"></a> / sec</span>
            </div>
            <div onclick="open_position(18)">
                <div class="miniprice">1 000 <a class="starmini" style="position: relative; left: 3px; top: 2px;"></a></div>
                <div class="status">93/100</div>
                <img src="static/images/peach_17.png" id="peach_17">
                <span class="item-name">Pink Cupid</span>
                <span class="item-income">3 <a class="star" class="income-star"></a> / sec</span>
            </div>
        </div>
    </div>

    <footer></footer>
    
    <nav>
        <div onclick="locate('/')">
            <img src="static/images/icons/add.png" alt="">
        </div>
        <div onclick="locate('/store')">
            <img src="static/images/icons/shop.png" alt="">
        </div>
        <div onclick="locate('/frens')">
            <img src="static/images/icons/frens.png" alt="">
        </div>
        <div onclick="locate('/top')">
            <img src="static/images/icons/top.png" alt="">
        </div>
    </nav>

    <script src="static/script/Download.js"></script>
    <script src="static/script/Locate.js"></script>
    <script src="static/script/Game.js"></script>
    <script src="static/script/Images.js"></script>
</body>
</html>