<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=none">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body style="overflow-x: hidden;">
    <div class="content">
        <h2 class="page-name"><img src="static/images/icons/top.png" width="24px" style="position: relative; padding-right: 5px; top: 2px;">Leaders Board</h2>
        <h6>Buy more gifts and invite friends - and you can pick up to the Leaders Board. The best players will be rewarded for special bonuses every 3 weeks.</h6>



        <div class="friendlist top">
            <div>
                <img src="static/images/pepe_5.png" alt="">
                <span id="user-username">1. @realmefer</span>
                <span id="user-income-your">54002 <a class="star"></a></span>

                <span id="prize">+ 10 000<a class="star" style="position: relative;left: 3px;"></a></span>
            </div>
            <div>
                <img src="static/images/pepe_3.png" alt="">
                <span id="user-username">2. @yrtkorn</span>
                <span id="user-income-your">35778 <a class="star"></a></span>

                <span id="prize">+ 5 000<a class="star" style="position: relative;left: 3px;"></a></span>
            </div>
            <div>
                <img src="static/images/pepe_4.png" alt="">
                <span id="user-username">3. @kurtol</span>
                <span id="user-income-your">36810 <a class="star"></a></span>

                <span id="prize">+ 2 500<a class="star" style="position: relative;left: 3px;"></a></span>
            </div>
            <div>
                <img src="static/images/pepe_2.png" alt="">
                <span id="user-username">4. @denis</span>
                <span id="user-income-your">19523 <a class="star"></a></span>
            </div>
            <div>
                <img src="static/images/pepe_1.png" alt="">
                <span id="user-username">4. @agentdurova</span>
                <span id="user-income-your">19109 <a class="star"></a></span>
            </div>
        </div>


    </div>
    <nav>
        <div onclick="locate('/')">
            <img src="static/images/icons/add.png" alt="">
        </div>
        <div onclick="locate('/store')">
            <img src="static/images/icons/shop.png" alt="">
        </div>
        <div onclick="locate('/frens')">
            <img src="static/images/icons/frens.png" alt="">
        </div>
        <div onclick="locate('/top')">
            <img src="static/images/icons/top.png" alt="">
        </div>
    </nav>

    <script src="static/script/Locate.js"></script>
    <script src="static/script/Windows.js"></script>
    <script src="static/script/Time.js"></script>
    <script src="static/script/Game.js"></script>
    <script src="static/script/Images.js"></script>
</body>
</html>